@import "tailwindcss";

@theme {
    --*: initial;

    /* Colors */
    /* Colors */
    --color-Main-piccolo: #4E46B4;
    --color-Main-hit: #40A69F;
    --color-Main-beerus: #E2E2E2;
    --color-Main-goku: #F5F5F5;
    --color-Main-gohan: #FFFFFF;
    --color-Main-bulma: #000000;
    --color-Main-trunks: #595D62;
    --color-Main-goten: #FFFFFF;
    --color-Main-popo: #000000;
    --color-Main-jiren: #4E46B4;
    --color-Main-heles: #000000;
    --color-Main-zeno: #000000;
    --color-Supportive-krillin: #FFB319;
    --color-Supportive-krillin-60: #FFB319;
    --color-Supportive-krillin-10: #FFB319;
    --color-Supportive-chichi: #FF4E64;
    --color-Supportive-chichi-60: #FF4E64;
    --color-Supportive-chichi-10: #FF4E64;
    --color-Supportive-roshi: #2E7D32;
    --color-Supportive-roshi-60: #2E7D32;
    --color-Supportive-roshi-10: #2E7D32;
    --color-Supportive-dodoria: #D33030;
    --color-Supportive-dodoria-60: #D33030;
    --color-Supportive-dodoria-10: #D33030;
    --color-Supportive-cell: #95F1D5;
    --color-Supportive-cell-60: #95F1D5;
    --color-Supportive-cell-10: #95F1D5;
    --color-Supportive-raditz: #B3804A;
    --color-Supportive-raditz-60: #B3804A;
    --color-Supportive-raditz-10: #B3804A;
    --color-Supportive-whis: #3448F0;
    --color-Supportive-whis-60: #3448F0;
    --color-Supportive-whis-10: #3448F0;
    --color-Supportive-frieza: #5C33CF;
    --color-Supportive-frieza-60: #5C33CF;
    --color-Supportive-frieza-10: #5C33CF;
    --color-Supportive-nappa: #725550;
    --color-Supportive-nappa-60: #725550;
    --color-Supportive-nappa-10: #725550;


    /* Typography */
    /* Text Styles */
    --font-paragraph-text-xs-r: "DM Sans";
    --text-paragraph-text-xs-r: 12px;
    --font-paragraph-text-xs-r-l: "DM Sans";
    --text-paragraph-text-xs-r-l: 12px;
    --font-paragraph-text-xs-s: "DM Sans";
    --text-paragraph-text-xs-s: 12px;
    --font-paragraph-text-xs-s-l: "DM Sans";
    --text-paragraph-text-xs-s-l: 12px;

    --font-paragraph-text-sm-r: "DM Sans";
    --text-paragraph-text-sm-r: 14px;
    --font-paragraph-text-sm-r-l: "DM Sans";
    --text-paragraph-text-sm-r-l: 14px;
    --font-paragraph-text-sm-s: "DM Sans";
    --text-paragraph-text-sm-s: 14px;
    --font-paragraph-text-sm-s-l: "DM Sans";
    --text-paragraph-text-sm-s-l: 14px;

    --font-paragraph-text-md-r: "DM Sans";
    --text-paragraph-text-md-r: 16px;
    --font-paragraph-text-md-r-l: "DM Sans";
    --text-paragraph-text-md-r-l: 16px;
    --font-paragraph-text-md-s: "DM Sans";
    --text-paragraph-text-md-s: 16px;
    --font-paragraph-text-md-s-l: "DM Sans";
    --text-paragraph-text-md-s-l: 16px;

    --font-paragraph-text-lg-r: "DM Sans";
    --text-paragraph-text-lg-r: 18px;
    --font-paragraph-text-lg-s: "DM Sans";
    --text-paragraph-text-lg-s: 18px;

    --font-paragraph-text-xl-r: "DM Sans";
    --text-paragraph-text-xl-r: 20px;
    --font-paragraph-text-xl-s: "DM Sans";
    --text-paragraph-text-xl-s: 20px;

    /* UI Text */
    --font-ui-text-3xs-r: "DM Sans";
    --text-ui-text-3xs-r: 9px;
    --font-ui-text-3xs-s-u: "DM Sans";
    --text-ui-text-3xs-s-u: 9px;
    --font-ui-text-3xs-r-u: "DM Sans";
    --text-ui-text-3xs-r-u: 9px;

    --font-ui-text-2xs-r: "DM Sans";
    --text-ui-text-2xs-r: 10px;
    --font-ui-text-2xs-r-l: "DM Sans";
    --text-ui-text-2xs-r-l: 10px;
    --font-ui-text-2xs-s: "DM Sans";
    --text-ui-text-2xs-s: 10px;
    --font-ui-text-2xs-s-l: "DM Sans";
    --text-ui-text-2xs-s-l: 10px;
    --font-ui-text-2xs-s-u: "DM Sans";
    --text-ui-text-2xs-s-u: 10px;

    /* XS, SM, MD, LG, XL, 2XL, 3XL, ... */
    --font-ui-text-xs-s-l: "DM Sans";
    --text-ui-text-xs-s-l: 12px;
    --font-ui-text-xs-s: "DM Sans";
    --text-ui-text-xs-s: 12px;
    --font-ui-text-xs-r-l: "DM Sans";
    --text-ui-text-xs-r-l: 12px;
    --font-ui-text-xs-r: "DM Sans";
    --text-ui-text-xs-r: 12px;

    --font-ui-text-sm-r: "DM Sans";
    --text-ui-text-sm-r: 14px;
    --font-ui-text-sm-r-l: "DM Sans";
    --text-ui-text-sm-r-l: 14px;
    --font-ui-text-sm-s: "DM Sans";
    --text-ui-text-sm-s: 14px;
    --font-ui-text-sm-s-l: "DM Sans";
    --text-ui-text-sm-s-l: 14px;

    --font-ui-text-md-r: "DM Sans";
    --text-ui-text-md-r: 16px;
    --font-ui-text-md-s: "DM Sans";
    --text-ui-text-md-s: 16px;
    --font-ui-text-md-s-l: "DM Sans";
    --text-ui-text-md-s-l: 16px;

    --font-ui-text-lg-r: "DM Sans";
    --text-ui-text-lg-r: 18px;
    --font-ui-text-lg-s: "DM Sans";
    --text-ui-text-lg-s: 18px;

    --font-ui-text-xl-r: "DM Sans";
    --text-ui-text-xl-r: 20px;
    --font-ui-text-xl-s: "DM Sans";
    --text-ui-text-xl-s: 20px;

    --font-ui-text-2xl-r: "DM Sans";
    --text-ui-text-2xl-r: 24px;
    --font-ui-text-2xl-s: "DM Sans";
    --text-ui-text-2xl-s: 24px;

    --font-ui-text-3xl-r: "DM Sans";
    --text-ui-text-3xl-r: 32px;
    --font-ui-text-3xl-s: "DM Sans";
    --text-ui-text-3xl-s: 32px;

    --font-ui-text-4xl-r: "DM Sans";
    --text-ui-text-4xl-r: 40px;
    --font-ui-text-4xl-s: "DM Sans";
    --text-ui-text-4xl-s: 40px;

    --font-ui-text-5xl-r: "DM Sans";
    --text-ui-text-5xl-r: 48px;
    --font-ui-text-5xl-s: "DM Sans";
    --text-ui-text-5xl-s: 48px;

    --font-ui-text-6xl-r: "DM Sans";
    --text-ui-text-6xl-r: 56px;
    --font-ui-text-6xl-s: "DM Sans";
    --text-ui-text-6xl-s: 56px;

    --font-ui-text-7xl-r: "DM Sans";
    --text-ui-text-7xl-r: 64px;
    --font-ui-text-7xl-s: "DM Sans";
    --text-ui-text-7xl-s: 64px;

    --font-ui-text-8xl-r: "DM Sans";
    --text-ui-text-8xl-r: 72px;
    --font-ui-text-8xl-s: "DM Sans";
    --text-ui-text-8xl-s: 72px;

    /* Spacing */
    --spacing-p-1: 4px;
    --spacing-p-2: 8px;
    --spacing-p-3: 12px;
    --spacing-p-4: 16px;
    --spacing-p-5: 20px;
    --spacing-p-6: 24px;
    --spacing-p-7: 28px;
    --spacing-p-8: 32px;
    --spacing-p-9: 36px;
    --spacing-p-10: 40px;
    --spacing-p-11: 44px;
    --spacing-p-12: 48px;



    /* Shadows */
    --shadow-glassmorphism: 0px 16px 24px 0 rgba(3, 6, 13, 0.47999998927116394), 0px -2px 8px 0 rgba(3, 6, 13, 0.03999999910593033);
    --shadow-focus-state: 0px 0px 0px 0 rgba(78, 70, 180, 0.11999999731779099);
    --shadow-light-shadow-sm: 0px 0px 1px 0 rgba(0, 0, 0, 0.4000000059604645), 0px 6px 6px 0 rgba(0, 0, 0, 0.1599999964237213);
    --shadow-light-shadow-md: 0px 0px 1px 0 rgba(0, 0, 0, 0.4000000059604645), 0px 12px 12px 0 rgba(0, 0, 0, 0.1599999964237213);
    --shadow-light-shadow-lg: 0px 0px 1px 0 rgba(0, 0, 0, 0.4000000059604645), 0px 8px 24px 0 rgba(0, 0, 0, 0.1599999964237213);
    --shadow-light-shadow-xl: 0px 0px 1px 0 rgba(0, 0, 0, 0.20000000298023224), 0px 0px 32px 0 rgba(0, 0, 0, 0.11999999731779099), 0px 32px 32px 0 rgba(0, 0, 0, 0.07999999821186066);
    --shadow-dark-shadow-md: 0px 0px 1px 0 rgba(0, 0, 0, 0.5600000023841858), 0px 12px 12px 0 rgba(0, 0, 0, 0.6399999856948853);
    --shadow-dark-shadow-lg: 0px 0px 1px 0 rgba(0, 0, 0, 0.5600000023841858), 0px 24px 24px 0 rgba(0, 0, 0, 0.6399999856948853);
    --shadow-dark-shadow-xl: 0px 0px 1px 0 rgba(0, 0, 0, 0.7200000286102295), 0px 48px 48px 0 rgba(0, 0, 0, 0.8799999952316284);
    --shadow-dark-shadow-sm: 0px 0px 1px 0 rgba(0, 0, 0, 0.5600000023841858), 0px 6px 6px 0 rgba(0, 0, 0, 0.6399999856948853);

}
